/*---------------
 Global 
 --------------*/
:root {

    --color-white: white;
    --color-wheat: wheat;
    --color-black: black;
    --color-marron: maroon;
    --color-orange: rgb(252, 164, 0);
    --color-green: rgb(25, 125, 25);

    --color-blue-1: #708ce1;

    --color-dark-blue-1: #2f008bd1;
    /* #2f008bd1 */
    --color-dark-blue-2: #2f008be6;
    /* #2f008bd1 */
    --color-dark-blue-3: #2f008b;
    /* #2f008b */

    --color-purple-1: #6930aff2;
    --color-purple-2: #6f5eab;
    --color-purple-3: #6930af;

    --color-red-1: #af3030f2;
    --color-red-2: #ab5e5e;
    --color-red-3: #af3030;

    --color-pink-1: #c61099cc;

    --color-gray-1: #d9d3d3;

    /* App */
    --background__app: darkorange;
    --font-color__app: var(--color-marron);
    --background-image__app: none;
    --background-image__after-app: linear-gradient(to right bottom, #ff0000, #fc0909, #f91010, #f51616, #f21b1b, #eb1f1f, #e32323, #dc2626, #cf2929, #c12b2c, #b42d2e, #a62f2f);
    --height__after-app: 60%;
    --width__after-app: 50%;

    --transition__app: all 0.5s ease;

    /* Themes */
    --background__app-theme-dark-mode: linear-gradient(to right, #14021e, #190926, #1e0e2f, #241138, #2b1441, #311341, #371240, #3c103f, #3e0c34, #3d092a, #3a0921, #360a19);
    --background__app-theme-light-mode: #e3e3e3;

    --background-image__app-sub-theme-break-time: none;
    --font-color__app-sub-theme-break-time: inherit;
    --background-image__after-app-sub-theme-break-time: none;
    --background__app-sub-theme-break-time: none;

    /** Btn Set Theme */
    --background__btn-set-theme-light-mode: var(--color-gray-1);
    --font-color__btn-set-theme-light-mode: var(--color-purple-3);
    --background-image__btn-set-theme-light-mode: none;
    --background__btn-set-theme-dark-mode: none;
    --background-image__btn-set-theme-dark-mode: var(--background__app-theme-dark-mode);
    --font-color__btn-set-theme-dark-mode: var(--color-gray-1);
    /* Task Section */

    --transition__tasks-section: height 0.5s ease;
    --trasition__tasks-section-btn: border-radius 0.5s ease;
    /*     --background__tasks-section-content: #121212; */
    --background__tasks-section: none;
    --background__tasks-section-btn: none;

    --box-shadow__tasks-section-btn:0px -9px 7px #dadada3d;


    /* Task Form */
    --border-bottom__task-form-add: 1px solid var(--color-black);
    --box-shadow__task-form-add: 1px 0px 3px 0px var(--color-purple-1);
    /* Task List */
    --background__task-list--empty: #451a010f;
    --background__task-list--empty-icon: var(--color-wheat);
    --background__task-list-item: #f2f3f747;
    --box-shadow__task-list-item: 6px 9px 5px #b9b6cb3d;

    /* Panel Time */
    --background__panel-time: #f2f3f747;
    --box-shadow__panel-time: 0px 1px 7px #dadada3d;
    --font-color__panel-time: inherit;


    /* Badge */
    --font-color__badge: var(--color-blue-1);
    --background__badge: none;

    /* Buttons */
    --background__btn: var(--color-dark-blue-1);
    /* Modal */
    --background__modal: #13225d6b;
    --font-color__modal: var(--color-white);
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

* svg {
    pointer-events: none;
}

input {
    font-family: 'Roboto', sans-serif;
    color: inherit;
}

button[disabled="true"] {
    opacity: 0.1;
}

html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0px;
    background: var(--background__app);
    color: var(--font-color__app);
    background-image: var(--background-image__app);
    background-repeat: no-repeat;
    position: relative;
    height: 100%;/* proof */
}

body::after {
    position: absolute;
    content: " ";
    z-index: -1;
    background-image: var(--background-image__after-app);
    filter: blur(104px);
    height: var(--height__after-app);
    width: var(--width__after-app);
    bottom: 8%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

@media screen and (max-width:950px) {
/*     html {
         min-height: 100vh;
        height: auto; 
         overflow: hidden; 
    } */

    body {
        display: block;
    }
}

@media screen and (max-width:576px) {
     html {
         overflow: hidden; 
    } 
}
/* @media screen and (max-width:576px) {
    body {
        display: block;
    }
}
 */
/*--------------
Themes
--------------*/

/* Dark Mode */
.theme-dark-mode {
    --background__app: #0b0b30;
    --background-image__app: linear-gradient(to right, #14021e, #190926, #1e0e2f, #241138, #2b1441, #311341, #371240, #3c103f, #3e0c34, #3d092a, #3a0921, #360a19);
    --font-color__app: #d9d3d3;
    --background-image__after-app: linear-gradient(-1.8016200691886424deg, #0b0b30 8.732801186076767%, #222B45 97.5229841354485%);

    /* Themes */
    --background-image__app-sub-theme-break-time: linear-gradient(to right bottom, #14021e, #190926, #1e0e2f, #241138, #2b1441, #282152, #1e2d62, #003a72, #004f7f, #006176, #006f5d, #2a7a3e);
    ;
    --background-image__after-app-sub-theme-break-time: none;
    --font-color__app-sub-theme-break-time: var(--color-wheat);

    /* Task Section */
    --background__tasks-section: #121212;
    --background__tasks-section-btn: none;

    /* Panel Time */
    --background__panel-time: #f2f3f70a;
    --box-shadow__panel-time: 0px 9px 8px #0000003d;

    /* Task Form */
    --border-bottom__task-form-add: 1px solid var(--color-wheat);
    --box-shadow__task-form-add: 1px 0px 3px 0px var(--color-blue-1);

    /* Task List */
    --background__task-list--empty: #f7f2f203;
    --background__task-list--empty-icon: var(--color-wheat);
    --background__task-list-item: var(--background__panel-time);
    --box-shadow__task-list-item: 0px 9px 8px #0000003d;

    /* Badge */
    --font-color__badge: var(--color-blue-1);
    --background__badge: none;

}

.theme-dark-mode.sub-theme-break-time {
    /** Btn Set Theme */
    --background__btn-set-theme-light-mode: var(--color-gray-1);
    --font-color__btn-set-theme-light-mode: cadetblue;
    ;
}

/* Light Mode */
.theme-light-mode {
    /* App */
    --background__app: var(--background__app-theme-light-mode);
    /*     --background-image__app:linear-gradient(135deg, rgb(187, 167, 255) 0%, rgb(208, 47, 47) 100%); */
    /* --background-image__app:linear-gradient(135deg, rgb(187, 167, 255) 0%,rgb(205, 107, 175) 20%,  rgb(208, 47, 47) 80%);
--background-image__app:linear-gradient(-45deg, rgb(124, 90, 237) 0%,rgb(69, 41, 165) 20%, rgb(208, 47, 47) 100%) ; */
    --background-image__after-app: none;
    --font-color__app: #6f6d6d;
    /* Themes */
    /*     --background-image__app-sub-theme-break-time: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  */
    --background-image__app-sub-theme-break-time: none;
    --background__app-sub-theme-break-time: #2fb1a575;
    --background-image__after-app-sub-theme-break-time: none;
    --font-color__app-sub-theme-break-time: cadetblue;

    /* Panel Time */
    --background__panel-time: #f2f3f730;
    --box-shadow__panel-time: 6px 9px 5px #b9b6cb3d;


    /* Task Section */
    --background__tasks-section: var(--background__app);
    --background__tasks-section-btn: none;

    --box-shadow__tasks-section-btn:0px -9px 7px #b9b6cb3d;
    /* Task List */
    --background__task-list--empty: #bebebe0d;
    --background__task-list--empty-icon: #6f6d6d;
    --background__task-list-item: var(--background__panel-time);


}

.theme-light-mode.sub-theme-break-time {
    /** Btn Set Theme */
    --background__btn-set-theme-dark-mode: cadetblue;
    --background-image__btn-set-theme-dark-mode: none;
    --font-color__btn-set-theme-dark-mode: var(--color-gray-1);
}

/*--------------
Themes: Sub Themes
--------------*/

/* Break Time */

.sub-theme-break-time {
    --background__app: var(--background__app-sub-theme-break-time);

    --background-image__app: var(--background-image__app-sub-theme-break-time);

    /*        --background-image__app:linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        */
    --font-color__app: var(--font-color__app-sub-theme-break-time);
    /*        --background-image__after-app:linear-gradient(to right bottom, #053733, #006448, #3c9249, #8abd37, #ebe112);;
 */
    --background-image__after-app: var(--background-image__after-app-sub-theme-break-time);
    --height__after-app: 70%;
    /* Panel Time */
    /*   --background__panel-time: #f2f3f733;
    --box-shadow__panel-time: 0px 1px 7px #dadada0a; */
}

.sub-theme-break-time .panel-time {
    width: 50%;
    margin: auto;
}

.sub-theme-break-time .container {
    padding: 0% 12%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.sub-theme-break-time .panel-time {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.sub-theme-break-time .tasks-section,
.sub-theme-break-time .panel-time__button-pause,
.sub-theme-break-time .panel-time__name-process {
    display: none;
}


/*--------------
App Section 
--------------*/
/* Layout */
.container {
    padding: 0% 6%;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr;
    flex: auto;
    justify-content: center;
    align-items: center;
}


header {
    grid-column: 1 /3;
    grid-row: 1 / 2;
}

.panel-time {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tasks-section {
    grid-column: 1/ 2;
    grid-row: 2/ 3;
}

@media screen and (max-width:1000px) {
    .container {
        padding: 0px 5%;
    }
}

@media screen and (max-width:950px) {
    .container {
        /*         grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 0% 0px;
        padding: 0px 10%; */
        display: block;
    }

    /*     header {
        grid-column: 1 /1;
        grid-row: 1 / 2;
    } */

    .panel-time {
        /*         grid-column: 1 / 1;
        grid-row: 2 / 3; */
        padding: 5%;
        width: 60%;
        margin: auto;
    }

    .tasks-section {
        /*         grid-column: 1/ 1;
        grid-row: 3/ 4; */
        margin-top: 5%;

    }
}

@media screen and (max-width:768px) {
    .container {
        padding: 0px 3%;
    }
}

@media screen and (max-width:576px) {
    .container {
       /*  min-height: 100vh; */
        display: block;
        position: relative;
        height: 100%;
    }
}

/* General */
.title {
    text-align: center;
    font-size: 3.8em;
}

.title svg {
    height: 1em;
    width: 1em;
}

@media screen and (max-width:768px) {
    .title {
        font-size: 10.609vw;
    }
}

.btn-set-theme {
    position: fixed;
    right: 2%;
    top: 0px;
}


.btn-set-theme.btn-set-theme--light {
    background: var(--background__btn-set-theme-light-mode);
    color: var(--font-color__btn-set-theme-light-mode);
    background-image: var(--background-image__btn-set-theme-light-mode);
}

.btn-set-theme.btn-set-theme--dark {
    background: var(--background__btn-set-theme-dark-mode);
    background-image: var(--background-image__btn-set-theme-dark-mode);
    color: var(--font-color__btn-set-theme-dark-mode);
}



/*--------------
Task Section 
--------------*/
.tasks-section {
    background: none;

}

/* .tasks-section::after {
    position: absolute;
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    background: var(--background__tasks-section);
    background-image: var(--background-image__app);
    display: none;
} */

.tasks-section__btn {
    display: none;
    background: var(--background__tasks-section-btn);
}

.tasks-section__btn.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    line-height: 2em;
    background: var(--background__panel-time);
    color: var(--font-color__app);
    cursor: pointer;
    box-shadow: var(--box-shadow__tasks-section-btn);
}

.tasks-section__btn.btn:hover:not([disabled]) {
  /*   box-shadow: 1px 0px 4px var(--color-dark-blue-2); */
  box-shadow: var(--box-shadow__tasks-section-btn);
}
 

.tasks-section__btn.btn:active:not([disabled]) {
 
    background: none;
    box-shadow: var(--box-shadow__tasks-section-btn);
}

 


/* Form  */
.tasks-form {
    display: flex;
    margin-left: 3%;
}

.tasks-form input[id="inputTask"] {
    display: inline-block;
    width: 100%;
    line-height: 2em;
    font-size: 1.2em;
    margin-right: 1.5%;
    background: none;
    border: none;
    /* border-bottom: 1px solid var(--color-black); */
    border-bottom: var(--border-bottom__task-form-add);
}

.tasks-form input[id="inputTask"]:focus-visible {
    outline: none;
    /* box-shadow: 1px 0px 3px 0px var(--color-purple-1); */
    box-shadow: var(--box-shadow__task-form-add);
}

.tasks-form button {
    padding: 5px 40px;
}

/* Task List  */
.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em 0px;
    list-style: none;
    overflow-y: scroll;
    padding: 4% 2%;
    max-height: 430px;
    min-height: 300px;
}

.tasks-list--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background__task-list--empty);
    position: relative;
    font-size: 2.4em;
    font-weight: bold;
}

.tasks-list--empty span {
    display: flex;
    align-items: center;
    text-align: center;
}

.tasks-list--empty svg {
    position: absolute;
    opacity: 0.2;
    height: 85%;
    width: 85%;
    margin-left: 7px;
}

.tasks-list--empty svg .fil0 {
    fill: var(--background__task-list--empty-icon);
}

.tasks-list--empty li {
    opacity: 0.4;
}

.tasks-list li {

    padding:
        1em 1em 0px 1em;
    border-radius: 5px;
    background: var(--background__task-list-item);
    /*   box-shadow: 0px -3px 7px #b9b6cb3d; */
    min-height: 100px;
    transition: box-shadow 0.8s ease;
}

.tasks-list li:hover {
    box-shadow: var(--box-shadow__panel-time);
    transition: box-shadow 0.8s ease;
}

.task-card {
    display: grid;
/*     grid-template-areas: "title title"
        "status controls"; */
    grid-template-areas: "title title title" 
   "time . ."
    "status . controls";     
    grid-template-columns: 1fr 1fr 1fr;
/*     grid-auto-rows: 40px; */
}

.task-card .task-card__title {
    grid-area: title;
    align-self: center;
    font-weight: 600;
    
}


.task-card .task-card__time {
    grid-area: time;
}
.task-card span.badge {
    grid-area: status;
    justify-self: self-start;
    align-self: center;
}

.task-card div {
    grid-area: controls;
    align-self: center;
    display: flex;
    gap: 5%;
    justify-content: flex-end;
}

.task-card div button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 15px;
}

body:not(.up-tasks-section) .task-card--current{
    border-left: 4px solid #8b70a5;
    padding: 2%;
    border-radius: 5px 0px 0px 0px;

}

body .task-card--current-no-active{
opacity: 0.5;
}

body .task-card.task-card--current-no-active div button{
    pointer-events: none;
    }

@media screen and (max-width:950px) {
    .tasks-section .tasks-list {
        margin-top: 5%;
    }
}

@media screen and (max-width:576px) {
    .tasks-section {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        height: 13vh;
        width: 100%;
   /*      overflow: hidden; */
        box-sizing: border-box;
        border-radius: 3% 3% 0px 0px;

        display: flex;
        flex-direction: column;
        transition: var(--transition__tasks-section);
    }
/* 
    .tasks-section::after {
        display: block;
    } */

    .tasks-section {
        margin-top: 0px;
        padding-top: 1.7%;
    }

    .tasks-section.up-section {
        height: 67vh;
        transition: var(--transition__tasks-section);
    }

    .tasks-section .tasks-form {
        display: none;
    }

    .tasks-section.up-section .tasks-form {
        display: flex;
    }


    .tasks-section .tasks-list {
        margin: 0px;
    }

    .tasks-list--empty {
        font-size: 6.564vw;
    }


    


   /*  .tasks-section .tasks-section__btn {
        display: block;
        
    } */

    .tasks-section .tasks-section__btn  {
        width: 100%;
        display: flex;
        font-size: 2em;
        justify-content: center;
        align-items: center;
        background: inherit;
        color: inherit;
    }

    .tasks-section .tasks-section__btn  svg {
        height: 1.2em;
        width: 1.2em;
    }

    .tasks-section .tasks-section__btn {
        margin: auto;
        line-height: 1em;
/*         padding: 15px 20px 15px 20px; */
        transition: var(--trasition__tasks-section-btn);
    }



 /*    .tasks-section:not(.up-section) .tasks-section__btn button {
        border-radius: 40% 40% 0px 0px;
    } */

/*     .tasks-section.up-section .tasks-section__btn button {
        border-radius: 0px 0px 40% 40%;
    } */

    .tasks-section.up-section .tasks-section__btn {
        background: var(--background__tasks-section-btn);
    }

    .tasks-section__content {
        background: var(--background__tasks-section-content);
        padding: 4% 4% 0px 4%;
    }



    body .title {
        transition: var(--transition__app);
    }

    body.up-tasks-section .title {
        font-size: 7.609vw;
        transition: var(--transition__app);
        margin: 0.4em;
    }




    body.up-tasks-section .panel-time {
        height: 120px;
        padding: 10px 20px 10px 20px;
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        flex-flow: row-reverse;
        transition: var(--transition__app);
        gap: 30px;
    }

    body.up-tasks-section .panel-time .panel-time__value {
        font-size: 2.5em;
    }

    body.up-tasks-section .panel-time div button span {
        display: none;
    }

    body.up-tasks-section .panel-time div button {
        border-radius: 50%;
        padding: 0px;
        height: 3em;
        width: 3em;
        justify-content: center;
        align-items: center;
    }


    body.up-tasks-section .panel-time div button svg {
        height: 1.6em;
        width: 1.6em;
    }

    
    body:not(.up-tasks-section) .panel-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    body:not(.up-tasks-section) .panel-time div.task-card{
        border-left: 4px solid #8b70a5;
        padding: 2%;
        border-radius: 5px 0px 0px 0px;
    }
    body:not(.up-tasks-section) .panel-time div.task-card  strong.badge span{
        font-size: 3.9vw;
    }

}


/* --------------
Components
--------------*/
/** Panel Time  */

.panel-time {
    box-shadow: var(--box-shadow__panel-time);
    border-radius: 5px;
    padding: 10% 5%;
    background: var(--background__panel-time);
    color: var(--font-color__panel-time);
    transition: var(--transition__app);
}

.panel-time h2 {
    text-align: center;
    font-size: 7.5em;
    margin: 0px;
}

/* .panel-time__button-pause {
    margin: auto;
    display: block;
    padding: 1% 12%;
    font-size: 1.8em;
}

.panel-time__name-process {
    text-align: center;
    font-size: 2em;
    margin: 2%;
} */



@media screen and (max-width:768px) {
    .panel-time {
        width: 80%;
    }

/*     .panel-time__name-process {
        font-size: 1.2em;
        font-weight: 300;
    } */
}

@media screen and (max-width:576px) {
    .panel-time {
        height: 50vh;

    }
}



/* Badge */
.badge {
    color: var(--font-color__badge);
    background: var(--background__badge);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7em;
    padding: 0px 1.9%;
    border-radius: 50px;
    min-width: 100px;
}

.badge svg {
    margin-right: 4%;
}

.task-starting  strong, .task-starting span.badge {
    color: var(--color-pink-1);
}

.task-pending  strong, .task-pending span.badge {
    color: var(--color-orange);
}

.task-successful  strong, .task-successful span.badge {
    color: var(--color-green);
}

.task-resume   strong, .task-resume  span.badge {
    color: var(--font-color__badge);
}

/* Buttons */
.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    line-height: 2em;
    background: var(--color-dark-blue-1);
    color: var(--color-white);
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    box-shadow: 1px 0px 4px var(--color-dark-blue-2);
}

.btn:active:not([disabled]) {
    background: var(--color-dark-blue-3);
    box-shadow: 1px 0px 8px var(--color-dark-blue-2);
}


.btn--danger:not([disabled]) {
    background: var(--color-red-1);
}

.btn--danger:hover:not([disabled]) {
    box-shadow: 1px 0px 4px var(--color-red-2);
}

.btn--danger:active:not([disabled]) {
    background: var(--color-red-3);
    box-shadow: 1px 0px 8px var(--color-red-2);
}


/* Modal*/

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--background__modal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color__modal);
}

.modal h2 {
    font-size: 3.5em;
}

.modal p {
    font-size: 2.5em;
}

.modal--timer .modal__main-content {
    flex: auto;
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 0px 15%;
}

.modal--timer .modal__title {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal--timer .modal__title svg {
    height: 1.8em;
    width: 1.8em;
}

.modal--timer .modal__message {
    grid-column: 2/3;
    grid-row: 1/ 3;
    margin: 0px;
    font-size: 12em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal--timer .modal__description {
    grid-column: 1 / 2;
    grid-row: 2/3;

    font-size: 1.2em;
    padding-left: 5%;
}

/* proof code */
.modal--as-notification {
    height: fit-content;
    width: 350px;
    top: 2%;
    right: 2%;
    border-radius: 5px;
}

.modal--as-notification .modal__main-content {
    flex: auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    padding: 0px 1%;
}

.modal--as-notification .modal__title {
    grid-column: 1 / 2;
    grid-row: 1/2;
    font-size: 1.4em;
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal--as-notification .modal__title svg {
    height: 1.4em;
    width: 1.4em;
    margin-right: 3%;
}

.modal--as-notification .modal__message {
    grid-column: 2/3;
    grid-row: 1/ 3;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--as-notification .modal__description {
    grid-column: 1 / 2;
    grid-row: 2/3;
    font-size: 0.8em;
    padding-left: 5%;
}
