/*---------------
 Global 
 --------------*/
:root {

    --color-white: white;
    --color-wheat: wheat;
    --color-black: black;
    --color-marron: maroon;
    --color-orange:rgb(252, 164, 0);
    --color-green:rgb(25, 125, 25);

    --color-dark-blue-1: #2f008bd1;
    /* #2f008bd1 */
    --color-dark-blue-2: #2f008be6;
    /* #2f008bd1 */
    --color-dark-blue-3: #2f008b;
    /* #2f008b */

    --color-purple-1: #6930aff2;
    --color-purple-2: #6f5eab;
    --color-purple-3: #6930af;

    --color-gray-1: #d9d3d3;

    /* App */
    --background__app: darkorange;
    --font-color__app: var(--color-marron);
    --background-image__app:none;
    --background-image__after-app: linear-gradient(to right bottom, #ff0000, #fc0909, #f91010, #f51616, #f21b1b, #eb1f1f, #e32323, #dc2626, #cf2929, #c12b2c, #b42d2e, #a62f2f);
    --height__after-app:60%; 
    --width__after-app: 50%;

    /* Themes */
    --background-image__app-sub-theme-break-time:none;
    --background-image__after-app-sub-theme-break-time:none;

    /* Task Section */

    --transition__tasks-section: height 0.5s ease;
    --trasition__tasks-section-btn: border-radius 0.5s ease;
    --background__tasks-section-content:#121212 ;
    
    --background__tasks-section-btn:#121212;


    /* Task Form */
    --border-bottom__task-form-add: 1px solid var(--color-black);
    --box-shadow__task-form-add: 1px 0px 3px 0px var(--color-purple-1);
    /* Task List */
    --background__task-list--empty: #451a010f;
    --background__task-list--empty-icon:var(--color-wheat);
    --background__task-list-item:#f2f3f747;

    /* Panel Time */
    --background__task-panel-time: #f2f3f747;
    --box-shadow__task-panel-time: 0px 1px 7px #dadada3d;
    --font-color__task-panel-time:inherit;

    /* Badge */
    --font-color__badge: var(--color-purple-1);
    --background__badge: var(--color-white);

    /* Buttons */
    --background__btn: var(--color-dark-blue-1);
    /* Modal */
    --background__modal: #13225d6b;
    --font-color__modal: var(--color-white);
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

svg {
    pointer-events: none;
}

input {
    font-family: 'Roboto', sans-serif;
    color: inherit;
}

button[disabled="true"] {
    opacity: 0.1;
}

html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0px;
    background: var(--background__app);
    color: var(--font-color__app);
    background-image: var(--background-image__app);
    position: relative;
}

body::after {
    position: absolute;
    content: " ";
    z-index: -1;
    background-image: var(--background-image__after-app);
    filter: blur(104px);
    height: var(--height__after-app);
    width:var(--width__after-app) ;
    bottom: 8%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

@media screen and (max-width:576px) {
    body{
        display: block;
    }
}

/*--------------
Themes
--------------*/

/* Dark Mode */
.theme-dark-mode {
    --background__app: #0b0b30;
    --background-image__app:linear-gradient(to right, #14021e, #190926, #1e0e2f, #241138, #2b1441, #311341, #371240, #3c103f, #3e0c34, #3d092a, #3a0921, #360a19);
    --font-color__app: #d9d3d3;
    --background-image__after-app:linear-gradient(-1.8016200691886424deg, #0b0b30 8.732801186076767%, #222B45 97.5229841354485%);

    /* Themes */
    --background-image__app-sub-theme-break-time:linear-gradient(to right bottom, #14021e, #190926, #1e0e2f, #241138, #2b1441, #282152, #1e2d62, #003a72, #004f7f, #006176, #006f5d, #2a7a3e);;
    --background-image__after-app-sub-theme-break-time:none;
    /* Panel Time */
    --background__task-panel-time: #f2f3f714;

    /* Task Form */
    --border-bottom__task-form-add: 1px solid var(--color-wheat);
    --box-shadow__task-form-add: 1px 0px 3px 0px var(--color-blue-1);
    
    /* Task List */
    --background__task-list--empty: #f7f2f203;
    --background__task-list--empty-icon:var(--color-wheat);
    --background__task-list-item:#f2f3f70a;

 
}

/* .theme-dark-mode{
     background: #0b0b30; 
    background-image: radial-gradient(circle, #111278, #211077, #2d0d77, #360a76, #3e0775, #410576, #450478, #480279, #48017d, #480181, #480085, #470089);
    color: #d9d3d3;
    background-image:  linear-gradient(to right, #14021e, #190926, #1e0e2f, #241138, #2b1441, #311341, #371240, #3c103f, #3e0c34, #3d092a, #3a0921, #360a19);
   } */
/* .theme-dark-mode::after{
    background-image: linear-gradient(-1.8016200691886424deg, #0b0b30 8.732801186076767%, #222B45 97.5229841354485%);
} */
/* .theme-dark-mode .task-panel-time{
    background: #f2f3f714;
   } */


/* .theme-dark-mode .tasks-form input[id="inputTask"]{
     border-bottom: var(--border-bottom__task-form-add);
 }
 
.theme-dark-mode .tasks-form input[id="inputTask"]:focus-visible{
     box-shadow: var(--box-shadow__task-form-add);
 } */




/* .theme-dark-mode .tasks-list li{
    background: #f2f3f70a;
   } */

/* .theme-dark-mode .tasks-list--empty {
    background: #f7f2f203;
} */
/* .theme-dark-mode .tasks-list--empty svg .fil0 {
    fill:var(--background__task-list--empty-icon);
} */

.theme-dark-mode .task-badge{
    background: none;
}

.theme-dark-mode .btn--danger:not([disabled]) {    background: var(--color-red-1);}
.theme-dark-mode .btn--danger:hover:not([disabled]){ box-shadow: 1px 0px 4px var(--color-red-2);}
.theme-dark-mode .btn--danger:active:not([disabled]){
    background: var(--color-red-3);
    box-shadow: 1px 0px 8px var(--color-red-2);
}

/* .theme-dark-mode.sub-theme-break-time{
    background-image:var(--background-image__sub-theme-break-time);
} */


/* .theme-dark-mode.sub-theme-break-time::after{
    background-image:none;
} */

/* Light Mode */
.theme-light-mode {
    /* Themes */
    --background-image__app-sub-theme-break-time:linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    --background-image__after-app-sub-theme-break-time:none;

}

/*--------------
Themes: Sub Themes
--------------*/

/* Break Time */

.sub-theme-break-time{
       --background__app:none;
  
       --background-image__app: var(--background-image__app-sub-theme-break-time);
  
/*        --background-image__app:linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        */
       --font-color__app: var(--color-wheat);
/*        --background-image__after-app:linear-gradient(to right bottom, #053733, #006448, #3c9249, #8abd37, #ebe112);;
 */      
 --background-image__after-app:var(--background-image__after-app-sub-theme-break-time);
        --height__after-app: 70%;



       /* Panel Time */
       --background__task-panel-time: #f2f3f733;
       --box-shadow__task-panel-time: 0px 1px 7px #dadada0a;
    }
   
.sub-theme-break-time .task-panel-time {
    width: 50%;
    margin: auto;
}

.sub-theme-break-time .container{
    padding: 0% 12%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.sub-theme-break-time .task-panel-time{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

 
.sub-theme-break-time .tasks-section,
.sub-theme-break-time .task-panel-time__button-pause,
.sub-theme-break-time .task-panel-time__name-task{
display: none;
}


/*--------------
App Section 
--------------*/
/* Layout */
.container {
    padding: 0% 6%;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr;
    flex: auto;
    justify-content: center;
    align-items: center;
}


header {
    grid-column: 1 /3;
    grid-row: 1 / 2;
}

.task-panel-time {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tasks-section {
    grid-column: 1/ 2;
    grid-row: 2/ 3;
}

@media screen and (max-width:1000px) {
    .container{ padding: 0px 5%;}    
}
@media screen and (max-width:950px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 0% 0px;
        padding: 0px 10%;
        }
    
        header{
            grid-column: 1 /1;
            grid-row: 1 / 2;
        }
        .task-panel-time{
            grid-column: 1 / 1;
            grid-row: 2 / 3;
            padding: 5%;
            width: 60%;
            margin: auto;
        }
        
        .tasks-section{
            grid-column: 1/  1;
            grid-row: 3/ 4;
            margin-top: 5%;
           
        }
}

@media screen and (max-width:768px){
    .container{
        padding:0px 3%;
    }
}

@media screen and (max-width:576px) {
    .container{
        min-height: 100vh;
        display: block;
        position: relative;
    }
}

/* General */
.title {
    text-align: center;
    font-size: 3.8em;
}

.title svg {
    height: 1em;
    width: 1em;
}

@media screen and (max-width:768px){
    .title{
        font-size: 10.609vw;
    }
}
.btn-set-theme {
    position: fixed;
    right: 2%;
    top: 0px;
}

.btn-set-theme.btn-set-theme--light {
    background: var(--color-gray-1);
    color: var(--color-purple-3);
}

.btn-set-theme.btn-set-theme--dark {
    background: var(--color-purple-1);
}



/*--------------
Task Section 
--------------*/

.tasks-section__btn{
    display: none;
}
/* Form  */
.tasks-form{   
    display: flex;
    margin-left: 3%;
}
.tasks-form input[id="inputTask"]{
    display: inline-block;
    width: 100%;
    line-height: 2em;
    font-size: 1.2em;
    margin-right: 1.5%;
    background: none;
    border: none;
    /* border-bottom: 1px solid var(--color-black); */
    border-bottom: var(--border-bottom__task-form-add);
}

.tasks-form input[id="inputTask"]:focus-visible{
    outline: none;
    /* box-shadow: 1px 0px 3px 0px var(--color-purple-1); */
    box-shadow: var(--box-shadow__task-form-add);
}

.tasks-form button{
    padding: 5px 40px;
}

 /* Task List  */
.tasks-list{
    display: flex;
    flex-direction: column;
    gap:1.5em 0px;
    list-style: none;
    overflow-y: scroll;
    padding: 0px;
    max-height: 430px;
    min-height: 300px;
}

.tasks-list--empty{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background__task-list--empty);
    position: relative;
    font-size: 2.4em;
    font-weight: bold;
}
.tasks-list--empty span{
    display: flex;
    align-items: center;
    text-align: center;
}
.tasks-list--empty svg{
    position: absolute;
    opacity: 0.2;
    height: 85%;
    width: 85%;
    margin-left: 7px;
}

.tasks-list--empty svg .fil0 {
    fill:var(--background__task-list--empty-icon);
}

.tasks-list--empty li{
 opacity: 0.4;
}
.tasks-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.4em 1em;
    border-radius: 5px;
    background: var(--background__task-list-item);
}

.tasks-list li span{
    display: inline-block;
    margin: 0% 2%;
}

.tasks-list li div{
 display: flex;
 flex-wrap: nowrap;
 min-width: 130px;
 justify-content: space-between;
}

@media screen and (max-width:950px) {
    .tasks-section .tasks-list{
        margin-top: 5%;
    } 
}

@media screen and (max-width:576px) {
    .tasks-section{
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        height:8vh ;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 3% 3% 0px 0px;
        
        display: flex;
        flex-direction: column;
        transition:var(--transition__tasks-section) ;
    }
    .tasks-section{
        margin-top: 0px;
        padding-top: 0px;
    }
    .tasks-section.up-section{
        height: 50vh;
        transition: var(--transition__tasks-section);
    }
    
    .tasks-section .tasks-list{
        margin: 0px;        
    }

    .tasks-list--empty{
        font-size: 6.564vw;
    }

    .tasks-section .tasks-section__btn{
        display: block;
        padding: 0% 4% 0px 4%;
    }
    .tasks-section .tasks-section__btn button{
        display: flex;
        font-size: 2em;
        justify-content: center;
        align-items: center;
    }
    .tasks-section .tasks-section__btn button svg{
        height: 1.2em;
        width: 1.2em;
    }

    .tasks-section .tasks-section__btn button{
        margin: auto;
        line-height: 1em;
        padding: 15px 20px 15px 20px;
        transition: var(--trasition__tasks-section-btn);   
    }

    .tasks-section:not(.up-section) .tasks-section__btn button{
        border-radius: 40% 40% 0px 0px;
    }

    .tasks-section.up-section .tasks-section__btn button{
        border-radius: 0px 0px 40% 40% ;
    }

    .tasks-section.up-section .tasks-section__btn {
        background: var(--background__tasks-section-btn);
    }

    .tasks-section__content{
        background: var(--background__tasks-section-content);
        padding: 4% 4% 0px 4%;
    }

    
    

}


/* --------------
Components
--------------*/
/** Panel Time  */

.task-panel-time{ 
    box-shadow: var(--box-shadow__task-panel-time);
    border-radius: 5px;
    padding: 10% 5%;
    background: var(--background__task-panel-time);
    color: var(--font-color__task-panel-time);
}
.task-panel-time h2{
    text-align: center;
    font-size: 7.5em;
    margin: 0px;
}

.task-panel-time__button-pause{
    margin: auto;
    display: block;
    padding: 1% 12%;
  font-size: 1.8em;
}
.task-panel-time__name-task{
    text-align: center;
    font-size: 2em;
    margin: 2%;
}

@media screen and (max-width:768px){
    .task-panel-time{
        width: 80%;
    }
    .task-panel-time__name-task{
        font-size: 1.2em;
        font-weight: 300;
    }
}
@media screen and (max-width:576px) {
    .task-panel-time{
        height: 60vh;
    }
}



/* Badge */
.task-badge{
    color:var(--font-color__badge) ;
    background: var(--background__badge);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7em;
    padding: 0px 1.9%;
    border-radius: 50px;
    min-width: 100px;
}
.task-badge svg {
    margin-right: 4%;
}

.task-starting strong  {    color:var(--color-purple-1) ; }
.task-pending strong   {    color: var(--color-orange);}
.task-successful strong{    color: var(--color-green);}
/* Buttons */


.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    line-height: 2em;
    background: var(--color-dark-blue-1);
    color: var(--color-white);
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    box-shadow: 1px 0px 4px var(--color-dark-blue-2);
}

.btn:active:not([disabled]) {
    background: var(--color-dark-blue-3);
    box-shadow: 1px 0px 8px var(--color-dark-blue-2);
}

.btn--danger:not([disabled]) {
    background: var(--color-green-light-1);
}

.btn--danger:hover:not([disabled]) {
    box-shadow: 1px 0px 4px var(--color-green-light-2);
}

.btn--danger:active:not([disabled]) {
    background: var(--color-green-light-3);
    box-shadow: 1px 0px 8px var(--color-green-light-2);
}


/* Modal*/

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--background__modal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color__modal);
}

.modal h2 {
    font-size: 3.5em;
}

.modal p {
    font-size: 2.5em;
}

.modal--timer .modal__main-content {
    flex: auto;
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 0px 15%;
}

.modal--timer .modal__title {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal--timer .modal__title svg {
    height: 1.8em;
    width: 1.8em;
}

.modal--timer .modal__message {
    grid-column: 2/3;
    grid-row: 1/ 3;
    margin: 0px;
    font-size: 12em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal--timer .modal__description {
    grid-column: 1 / 2;
    grid-row: 2/3;

    font-size: 1.2em;
    padding-left: 5%;
}

/* proof code */
.modal--as-notification {
    height: fit-content;
    width: 350px;
    top: 2%;
    right: 2%;
    border-radius: 5px;
}

.modal--as-notification .modal__main-content {
    flex: auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    padding: 0px 1%;
}

.modal--as-notification .modal__title {
    grid-column: 1 / 2;
    grid-row: 1/2;
    font-size: 1.4em;
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal--as-notification .modal__title svg {
    height: 1.4em;
    width: 1.4em;
    margin-right: 3%;
}

.modal--as-notification .modal__message {
    grid-column: 2/3;
    grid-row: 1/ 3;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal--as-notification .modal__description {
    grid-column: 1 / 2;
    grid-row: 2/3;
    font-size: 0.8em;
    padding-left: 5%;
}